<form>
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
</form>
<script src="./js/login.js"></script>
<script src="./petapi/index.js"></script>
<script src="./petapi/apiToken/token.js"></script>