<!-- Let's see how to get this to display -->
{{!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <img src="images/petplacer2.png" width="60" height="60" alt="Pet Placer Logo"></a>
    <div class="header-text">
      <h2>Pet Placer</h2>
    </div>
    <button id="linkAcctBtn" type="button" class="btn btn-warning">Link Account</button>
    <button id="logOutBtn" class="btn btn-primary" type="submit">Log Out</button>
</nav> --}}

<header>
	<img src="images/petplacer2.png" width="60" height="60" alt="Pet Placer Logo"><h2>Pet Placer</h2></a>
	<nav>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Link Account</button>
      <button id="logOutBtn" class="btn btn-primary" type="submit">Log Out</button>
  </nav>
</header>


<section class="container mt-4">
  <div class="row">
    <div class="col-12 col-md-9 col-lg-9">
      <div class="primary-card" style="width: 80%;">
        <img class="card-img-top" src='images/bulldog.jpg' alt="DOG IMAGES GO HERE">
        <div class="card-body">
          <h5 class="card-title" id="pup">Potential Pupper</h5>
          <div class="btn-group">
            <a href="#" id="btnNo" class="btn btn-danger">NO</a><a href="#" id="btnYes" class="btn btn-primary">YES</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3">
      <div class="card">
        <h3 class="card-header">Previous Matches</h3>
        <div class="card-body">
          <p class="card-text">This is where we need the previous results to populate</p>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <button type="button" class="btn btn-primary" id="searchBtn">Search</button>
        </form>
      </div>
      <div class="modal-body">
        <ul id="foundUsers">
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#myModal" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script src="./js/dashboard.js"></script>

