<div class="row">
  <div class="col-md-6">
    <img src= 'images/petplacer.png' alt = "this is pet placer">
  </div>
  <div class="col-md-6">
    {{> login-form }}
  </div>
</div>

<script src="./js/login.js"></script>
