<div class="row mt-5">
  <div class="col-md-6 col-sm-9 mx-5 px-5">
    <img src= 'images/petplacer2.png' alt = "this is pet placer">
  </div>
  <div class="col-md-3 px-5">
    {{#if switch}}
    {{> signup-form }}
    <form><button id="switch" class="btn btn-primary" type="submit">Log In</button></form>
    {{else}}
    {{> login-form }}
    <form><button id="switch" class="btn btn-primary" type="submit">Create Account</button></form>
    {{/if}}
  </div>
</div>
<script src="./js/login-signup.js"></script>
{{!-- THIS IS PLACEHOLDER TEXT --}}
