header {
  text-align: justify;
  letter-spacing: 1px;
  height: 6em;
  padding: 1em 10%;
}

.siteName {
  font-weight: bold;
  font-size: 48px;
  font-family: 'Roboto', san-serif;
  vertical-align: middle;
}



header h2,
header nav {
  display: inline-block;
  align-content: center;
}

img {
  max-height: 400px;
  margin-right: 13px;
}

header::after {
  content: '';
  display: inline-block;
  width: 100%;
}

body {
  width: 100%;
  background: rgb(131,58,180);
  background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

#linkAcctBtn {
  align-content: center;
  margin-right: 1em;
}

h5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group {
  display: flex;
}

#link {
  background-color: #0D6EFD;
  height: 1.6em;
  width: 3em;
  border-radius: 4px;
  border-width: 0px;
  margin-left: 7px;
  color: white;
}

.modal-body{
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  flex-direction: row;
}

.card-img-top {
  object-fit: contain;
}

#btnNo {
  border-radius: 25px;
  margin-right: 20px;
  font-size: 50px;
  transform: rotate(180deg);
  box-shadow: -5px -10px 10px rgb(0, 0, 0);
}
#btnYes {
  border-radius: 25px;
  margin-left: 20px;
  font-size: 50px;
  box-shadow: 5px 10px 10px rgb(0, 0, 0);
}
