header {
  text-align: justify;
  letter-spacing: 1px;
  height: 6em;
  padding: 1em 10%;
}

header h2,
header nav {
  display: inline-block;
}
img {
  max-height: 400px;
}

header::after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* .navbar-brand {
  display: flex;
  margin-left: 1em;
}

#logOutBtn {
  align-content: center;
  margin-right: 1em;
} */

#linkAcctBtn {
  align-content: center;
  margin-right: 1em;
}

h5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group {
  display: flex;
}

#btnNo {
  /* display: flex; */
  /* align-items: flex-start; */
}

.btnYes {
  /* display: flex; */
  /* align-items: flex-end; */
}

/* .header-text {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-left: 20px;
  justify-content: left;
} */

